--
-- PostgreSQL database dump
--

\restrict wB5jwH493nq9Ohj70vzWaTteTFsfOMSXiIgtqcE0bGvxszblb5hgMu7MCN84S5r

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin_audit_logs (
    id bigint NOT NULL,
    action character varying(50) NOT NULL,
    payload jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    actor_id bigint,
    target_submission_id bigint,
    target_user_id bigint
);


ALTER TABLE public.admin_audit_logs OWNER TO postgres;

--
-- Name: admin_audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.admin_audit_logs ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.admin_audit_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: announcements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.announcements (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    content text NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    created_by_id bigint
);


ALTER TABLE public.announcements OWNER TO postgres;

--
-- Name: announcements_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.announcements ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.announcements_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cards; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cards (
    id bigint NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(100) NOT NULL,
    rarity character varying(20) NOT NULL,
    image_url character varying(500),
    description text,
    old_id character varying(100),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    image character varying(100)
);


ALTER TABLE public.cards OWNER TO postgres;

--
-- Name: cards_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cards ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cards_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: discord_shares; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.discord_shares (
    id bigint NOT NULL,
    shared_at timestamp with time zone NOT NULL,
    share_channel character varying(100) NOT NULL,
    message_id character varying(100),
    old_id character varying(100),
    submission_id bigint,
    user_id bigint NOT NULL
);


ALTER TABLE public.discord_shares OWNER TO postgres;

--
-- Name: discord_shares_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.discord_shares ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.discord_shares_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: jackpot_wins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jackpot_wins (
    id bigint NOT NULL,
    won_at timestamp with time zone NOT NULL,
    pinned_until timestamp with time zone,
    old_id character varying(100),
    submission_id bigint,
    user_id bigint NOT NULL
);


ALTER TABLE public.jackpot_wins OWNER TO postgres;

--
-- Name: jackpot_wins_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.jackpot_wins ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.jackpot_wins_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: lottery_rules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lottery_rules (
    id bigint NOT NULL,
    base_rate numeric(5,4) NOT NULL,
    per_submit_increment numeric(5,4) NOT NULL,
    max_rate numeric(5,4) NOT NULL,
    daily_cap integer NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.lottery_rules OWNER TO postgres;

--
-- Name: lottery_rules_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.lottery_rules ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.lottery_rules_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reactions (
    id bigint NOT NULL,
    type character varying(50) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    submission_id bigint NOT NULL
);


ALTER TABLE public.reactions OWNER TO postgres;

--
-- Name: reactions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.reactions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reactions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: submissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.submissions (
    id bigint NOT NULL,
    image character varying(100),
    caption text NOT NULL,
    comment_enabled boolean NOT NULL,
    status character varying(20) NOT NULL,
    deleted_at timestamp with time zone,
    delete_reason text,
    aim character varying(100) NOT NULL,
    steps jsonb NOT NULL,
    frame_type character varying(50) NOT NULL,
    image_url character varying(500),
    video_url character varying(500),
    game_url character varying(500),
    jp_result character varying(10) NOT NULL,
    likes_count integer NOT NULL,
    old_id character varying(100),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    author_id bigint NOT NULL,
    hashtags jsonb NOT NULL,
    title character varying(20) NOT NULL,
    thumbnail character varying(100)
);


ALTER TABLE public.submissions OWNER TO postgres;

--
-- Name: submissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.submissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.submissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: titles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.titles (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    color character varying(50),
    duration_days integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    image character varying(100),
    image_url character varying(500)
);


ALTER TABLE public.titles OWNER TO postgres;

--
-- Name: titles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.titles ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.titles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_cards; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_cards (
    id bigint NOT NULL,
    obtained_at timestamp with time zone NOT NULL,
    old_id character varying(100),
    card_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.user_cards OWNER TO postgres;

--
-- Name: user_cards_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_cards ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_cards_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_meta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_meta (
    id bigint NOT NULL,
    active_title character varying(100),
    title_color character varying(50),
    expires_at timestamp with time zone,
    bio text NOT NULL,
    header_url character varying(500),
    lottery_bonus_count integer NOT NULL,
    old_id character varying(100),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    display_name character varying(50) NOT NULL,
    notifications jsonb NOT NULL,
    onboarding_completed jsonb NOT NULL,
    discord_access_token text,
    discord_refresh_token text,
    discord_token_expires_at timestamp with time zone,
    discord_user_id character varying(100),
    discord_username character varying(255),
    terms_agreed_at timestamp with time zone
);


ALTER TABLE public.user_meta OWNER TO postgres;

--
-- Name: user_meta_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_meta ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_meta_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_registrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_registrations (
    id bigint NOT NULL,
    address text,
    age_group character varying(50),
    phone character varying(20),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.user_registrations OWNER TO postgres;

--
-- Name: user_registrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_registrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_registrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_sso_links; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_sso_links (
    id bigint NOT NULL,
    provider character varying(50) NOT NULL,
    external_user_id character varying(255) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.user_sso_links OWNER TO postgres;

--
-- Name: user_sso_links_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.user_sso_links ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_sso_links_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    last_login timestamp with time zone,
    email character varying(254),
    password character varying(128) NOT NULL,
    display_id character varying(100) NOT NULL,
    role character varying(20) NOT NULL,
    avatar_url character varying(500),
    is_suspended boolean NOT NULL,
    banned_at timestamp with time zone,
    warning_count integer NOT NULL,
    warning_notes text,
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL,
    is_superuser boolean NOT NULL,
    old_id character varying(100),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    penalty_message text,
    penalty_type character varying(20)
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_groups OWNER TO postgres;

--
-- Name: users_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_user_permissions OWNER TO postgres;

--
-- Name: users_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: admin_audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: announcements; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
1	繧ｫ繝ｼ繝芽ｿｽ蜉
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
1	1	57
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cards; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: discord_shares; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	users	user
7	users	usercard
8	users	usermeta
9	users	userregistration
10	submissions	reaction
11	submissions	submission
12	lottery	jackpotwin
13	lottery	lotteryrule
14	gamification	title
15	gamification	card
16	sharing	discordshare
17	adminpanel	adminauditlog
18	frontend	announcement
19	users	userssolink
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: jackpot_wins; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jackpot_wins (id, won_at, pinned_until, old_id, submission_id, user_id) FROM stdin;
\.


--
-- Data for Name: lottery_rules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lottery_rules (id, base_rate, per_submit_increment, max_rate, daily_cap, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: reactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reactions (id, type, created_at, user_id, submission_id) FROM stdin;
62	submit_medal	2025-12-11 05:37:43.436268+00	3	72
65	submit_medal	2025-12-11 05:51:23.338141+00	3	73
66	submit_medal	2025-12-12 01:04:48.560478+00	3	74
67	submit_medal	2025-12-17 01:01:59.710876+00	2	74
68	submit_medal	2025-12-17 01:02:04.738243+00	2	73
\.


--
-- Data for Name: submissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: titles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_cards; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_meta; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_registrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_registrations (id, address, age_group, phone, created_at, updated_at, user_id) FROM stdin;
\.


--
-- Data for Name: user_sso_links; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_sso_links (id, provider, external_user_id, created_at, updated_at, user_id) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: users_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Name: admin_audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.admin_audit_logs_id_seq', 20, true);


--
-- Name: announcements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.announcements_id_seq', 4, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, true);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, true);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 76, true);


--
-- Name: cards_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cards_id_seq', 60, true);


--
-- Name: discord_shares_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.discord_shares_id_seq', 15, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 27, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 19, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 48, true);


--
-- Name: jackpot_wins_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jackpot_wins_id_seq', 1, false);


--
-- Name: lottery_rules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lottery_rules_id_seq', 1, false);


--
-- Name: reactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reactions_id_seq', 68, true);


--
-- Name: submissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.submissions_id_seq', 108, true);


--
-- Name: titles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.titles_id_seq', 9, true);


--
-- Name: user_cards_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_cards_id_seq', 83, true);


--
-- Name: user_meta_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_meta_id_seq', 10, true);


--
-- Name: user_registrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_registrations_id_seq', 1, false);


--
-- Name: user_sso_links_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_sso_links_id_seq', 1, false);


--
-- Name: users_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_groups_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 11, true);


--
-- Name: users_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_permissions_id_seq', 1, false);


--
-- Name: admin_audit_logs admin_audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_audit_logs
    ADD CONSTRAINT admin_audit_logs_pkey PRIMARY KEY (id);


--
-- Name: announcements announcements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: cards cards_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cards
    ADD CONSTRAINT cards_code_key UNIQUE (code);


--
-- Name: cards cards_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cards
    ADD CONSTRAINT cards_pkey PRIMARY KEY (id);


--
-- Name: discord_shares discord_shares_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.discord_shares
    ADD CONSTRAINT discord_shares_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: jackpot_wins jackpot_wins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jackpot_wins
    ADD CONSTRAINT jackpot_wins_pkey PRIMARY KEY (id);


--
-- Name: lottery_rules lottery_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lottery_rules
    ADD CONSTRAINT lottery_rules_pkey PRIMARY KEY (id);


--
-- Name: reactions reactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reactions
    ADD CONSTRAINT reactions_pkey PRIMARY KEY (id);


--
-- Name: reactions reactions_user_id_submission_id_type_5a2487f6_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reactions
    ADD CONSTRAINT reactions_user_id_submission_id_type_5a2487f6_uniq UNIQUE (user_id, submission_id, type);


--
-- Name: submissions submissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.submissions
    ADD CONSTRAINT submissions_pkey PRIMARY KEY (id);


--
-- Name: titles titles_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.titles
    ADD CONSTRAINT titles_name_key UNIQUE (name);


--
-- Name: titles titles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.titles
    ADD CONSTRAINT titles_pkey PRIMARY KEY (id);


--
-- Name: user_cards user_cards_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_cards
    ADD CONSTRAINT user_cards_pkey PRIMARY KEY (id);


--
-- Name: user_meta user_meta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_meta
    ADD CONSTRAINT user_meta_pkey PRIMARY KEY (id);


--
-- Name: user_meta user_meta_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_meta
    ADD CONSTRAINT user_meta_user_id_key UNIQUE (user_id);


--
-- Name: user_registrations user_registrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_registrations
    ADD CONSTRAINT user_registrations_pkey PRIMARY KEY (id);


--
-- Name: user_registrations user_registrations_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_registrations
    ADD CONSTRAINT user_registrations_user_id_key UNIQUE (user_id);


--
-- Name: user_sso_links user_sso_links_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sso_links
    ADD CONSTRAINT user_sso_links_pkey PRIMARY KEY (id);


--
-- Name: user_sso_links user_sso_links_provider_external_user_id_96ebdb4b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sso_links
    ADD CONSTRAINT user_sso_links_provider_external_user_id_96ebdb4b_uniq UNIQUE (provider, external_user_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users_groups users_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_groups
    ADD CONSTRAINT users_groups_pkey PRIMARY KEY (id);


--
-- Name: users_groups users_groups_user_id_group_id_fc7788e8_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_groups
    ADD CONSTRAINT users_groups_user_id_group_id_fc7788e8_uniq UNIQUE (user_id, group_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users_user_permissions users_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_permissions
    ADD CONSTRAINT users_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_user_permissions users_user_permissions_user_id_permission_id_3b86cbdf_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_permissions
    ADD CONSTRAINT users_user_permissions_user_id_permission_id_3b86cbdf_uniq UNIQUE (user_id, permission_id);


--
-- Name: admin_audit_action_e759dd_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX admin_audit_action_e759dd_idx ON public.admin_audit_logs USING btree (action, created_at DESC);


--
-- Name: admin_audit_actor_i_d315fe_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX admin_audit_actor_i_d315fe_idx ON public.admin_audit_logs USING btree (actor_id, created_at DESC);


--
-- Name: admin_audit_created_5c232f_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX admin_audit_created_5c232f_idx ON public.admin_audit_logs USING btree (created_at DESC);


--
-- Name: admin_audit_logs_actor_id_010bb8fb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX admin_audit_logs_actor_id_010bb8fb ON public.admin_audit_logs USING btree (actor_id);


--
-- Name: admin_audit_logs_created_at_9bf19f3d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX admin_audit_logs_created_at_9bf19f3d ON public.admin_audit_logs USING btree (created_at);


--
-- Name: admin_audit_logs_target_submission_id_bf8655ee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX admin_audit_logs_target_submission_id_bf8655ee ON public.admin_audit_logs USING btree (target_submission_id);


--
-- Name: admin_audit_logs_target_user_id_b08e128a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX admin_audit_logs_target_user_id_b08e128a ON public.admin_audit_logs USING btree (target_user_id);


--
-- Name: admin_audit_target__247bca_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX admin_audit_target__247bca_idx ON public.admin_audit_logs USING btree (target_user_id, created_at DESC);


--
-- Name: announcemen_is_acti_da44f2_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX announcemen_is_acti_da44f2_idx ON public.announcements USING btree (is_active, created_at DESC);


--
-- Name: announcements_created_by_id_191f571f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX announcements_created_by_id_191f571f ON public.announcements USING btree (created_by_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: cards_code_b9c2bc_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cards_code_b9c2bc_idx ON public.cards USING btree (code);


--
-- Name: cards_code_e6ad8911_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cards_code_e6ad8911_like ON public.cards USING btree (code varchar_pattern_ops);


--
-- Name: cards_old_id_0a77bc0f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cards_old_id_0a77bc0f ON public.cards USING btree (old_id);


--
-- Name: cards_old_id_0a77bc0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cards_old_id_0a77bc0f_like ON public.cards USING btree (old_id varchar_pattern_ops);


--
-- Name: cards_old_id_4ef4b4_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cards_old_id_4ef4b4_idx ON public.cards USING btree (old_id);


--
-- Name: cards_rarity_a98487_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cards_rarity_a98487_idx ON public.cards USING btree (rarity);


--
-- Name: discord_sha_old_id_bb0cdf_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX discord_sha_old_id_bb0cdf_idx ON public.discord_shares USING btree (old_id);


--
-- Name: discord_sha_shared__d5a5a4_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX discord_sha_shared__d5a5a4_idx ON public.discord_shares USING btree (shared_at);


--
-- Name: discord_sha_user_id_224d39_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX discord_sha_user_id_224d39_idx ON public.discord_shares USING btree (user_id, shared_at);


--
-- Name: discord_shares_old_id_7d02a8fa; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX discord_shares_old_id_7d02a8fa ON public.discord_shares USING btree (old_id);


--
-- Name: discord_shares_old_id_7d02a8fa_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX discord_shares_old_id_7d02a8fa_like ON public.discord_shares USING btree (old_id varchar_pattern_ops);


--
-- Name: discord_shares_shared_at_c1fa72a3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX discord_shares_shared_at_c1fa72a3 ON public.discord_shares USING btree (shared_at);


--
-- Name: discord_shares_submission_id_36a25708; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX discord_shares_submission_id_36a25708 ON public.discord_shares USING btree (submission_id);


--
-- Name: discord_shares_user_id_efd7eecf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX discord_shares_user_id_efd7eecf ON public.discord_shares USING btree (user_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: jackpot_win_old_id_30c1a8_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jackpot_win_old_id_30c1a8_idx ON public.jackpot_wins USING btree (old_id);


--
-- Name: jackpot_win_user_id_dd09fd_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jackpot_win_user_id_dd09fd_idx ON public.jackpot_wins USING btree (user_id, won_at);


--
-- Name: jackpot_win_won_at_5a6a38_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jackpot_win_won_at_5a6a38_idx ON public.jackpot_wins USING btree (won_at);


--
-- Name: jackpot_wins_old_id_2743eccf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jackpot_wins_old_id_2743eccf ON public.jackpot_wins USING btree (old_id);


--
-- Name: jackpot_wins_old_id_2743eccf_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jackpot_wins_old_id_2743eccf_like ON public.jackpot_wins USING btree (old_id varchar_pattern_ops);


--
-- Name: jackpot_wins_submission_id_78af7d0d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jackpot_wins_submission_id_78af7d0d ON public.jackpot_wins USING btree (submission_id);


--
-- Name: jackpot_wins_user_id_517e82b6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jackpot_wins_user_id_517e82b6 ON public.jackpot_wins USING btree (user_id);


--
-- Name: jackpot_wins_won_at_639ebf42; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX jackpot_wins_won_at_639ebf42 ON public.jackpot_wins USING btree (won_at);


--
-- Name: reactions_submiss_75ddcb_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reactions_submiss_75ddcb_idx ON public.reactions USING btree (submission_id, type);


--
-- Name: reactions_submission_id_d67678ea; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reactions_submission_id_d67678ea ON public.reactions USING btree (submission_id);


--
-- Name: reactions_user_id_43f59d_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reactions_user_id_43f59d_idx ON public.reactions USING btree (user_id, created_at);


--
-- Name: reactions_user_id_cc1df63a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reactions_user_id_cc1df63a ON public.reactions USING btree (user_id);


--
-- Name: submissions_author__bc0ef3_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX submissions_author__bc0ef3_idx ON public.submissions USING btree (author_id, created_at DESC);


--
-- Name: submissions_author_id_2749acb8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX submissions_author_id_2749acb8 ON public.submissions USING btree (author_id);


--
-- Name: submissions_created_80fb8e_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX submissions_created_80fb8e_idx ON public.submissions USING btree (created_at DESC);


--
-- Name: submissions_created_at_6d31a06a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX submissions_created_at_6d31a06a ON public.submissions USING btree (created_at);


--
-- Name: submissions_deleted_8ecb47_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX submissions_deleted_8ecb47_idx ON public.submissions USING btree (deleted_at);


--
-- Name: submissions_deleted_at_c98084f5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX submissions_deleted_at_c98084f5 ON public.submissions USING btree (deleted_at);


--
-- Name: submissions_old_id_0bc3c4_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX submissions_old_id_0bc3c4_idx ON public.submissions USING btree (old_id);


--
-- Name: submissions_old_id_fbcf7ad7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX submissions_old_id_fbcf7ad7 ON public.submissions USING btree (old_id);


--
-- Name: submissions_old_id_fbcf7ad7_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX submissions_old_id_fbcf7ad7_like ON public.submissions USING btree (old_id varchar_pattern_ops);


--
-- Name: submissions_status_dcc854_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX submissions_status_dcc854_idx ON public.submissions USING btree (status);


--
-- Name: titles_name_fa23f8ed_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX titles_name_fa23f8ed_like ON public.titles USING btree (name varchar_pattern_ops);


--
-- Name: user_cards_card_id_05a26824; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_cards_card_id_05a26824 ON public.user_cards USING btree (card_id);


--
-- Name: user_cards_old_id_3c159e_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_cards_old_id_3c159e_idx ON public.user_cards USING btree (old_id);


--
-- Name: user_cards_user_id_3f9d5d_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_cards_user_id_3f9d5d_idx ON public.user_cards USING btree (user_id, card_id);


--
-- Name: user_cards_user_id_d051fc1e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_cards_user_id_d051fc1e ON public.user_cards USING btree (user_id);


--
-- Name: user_cards_user_id_e808f4_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_cards_user_id_e808f4_idx ON public.user_cards USING btree (user_id, obtained_at);


--
-- Name: user_meta_discord_user_id_5d67fac1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_meta_discord_user_id_5d67fac1 ON public.user_meta USING btree (discord_user_id);


--
-- Name: user_meta_discord_user_id_5d67fac1_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_meta_discord_user_id_5d67fac1_like ON public.user_meta USING btree (discord_user_id varchar_pattern_ops);


--
-- Name: user_meta_expires_246fc6_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_meta_expires_246fc6_idx ON public.user_meta USING btree (expires_at);


--
-- Name: user_meta_old_id_2524b2_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_meta_old_id_2524b2_idx ON public.user_meta USING btree (old_id);


--
-- Name: user_meta_old_id_feec8a74; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_meta_old_id_feec8a74 ON public.user_meta USING btree (old_id);


--
-- Name: user_meta_old_id_feec8a74_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_meta_old_id_feec8a74_like ON public.user_meta USING btree (old_id varchar_pattern_ops);


--
-- Name: user_sso_li_created_cb430a_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_sso_li_created_cb430a_idx ON public.user_sso_links USING btree (created_at);


--
-- Name: user_sso_li_provide_24299a_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_sso_li_provide_24299a_idx ON public.user_sso_links USING btree (provider, external_user_id);


--
-- Name: user_sso_li_user_id_7311cf_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_sso_li_user_id_7311cf_idx ON public.user_sso_links USING btree (user_id, provider);


--
-- Name: user_sso_links_external_user_id_8b38455b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_sso_links_external_user_id_8b38455b ON public.user_sso_links USING btree (external_user_id);


--
-- Name: user_sso_links_external_user_id_8b38455b_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_sso_links_external_user_id_8b38455b_like ON public.user_sso_links USING btree (external_user_id varchar_pattern_ops);


--
-- Name: user_sso_links_provider_e2ea9e6d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_sso_links_provider_e2ea9e6d ON public.user_sso_links USING btree (provider);


--
-- Name: user_sso_links_provider_e2ea9e6d_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_sso_links_provider_e2ea9e6d_like ON public.user_sso_links USING btree (provider varchar_pattern_ops);


--
-- Name: user_sso_links_user_id_3d189ecd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX user_sso_links_user_id_3d189ecd ON public.user_sso_links USING btree (user_id);


--
-- Name: users_display_a5c640_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_display_a5c640_idx ON public.users USING btree (display_id);


--
-- Name: users_display_id_30074c8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_display_id_30074c8b ON public.users USING btree (display_id);


--
-- Name: users_display_id_30074c8b_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_display_id_30074c8b_like ON public.users USING btree (display_id varchar_pattern_ops);


--
-- Name: users_email_0ea73cca_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_email_0ea73cca_like ON public.users USING btree (email varchar_pattern_ops);


--
-- Name: users_email_4b85f2_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_email_4b85f2_idx ON public.users USING btree (email);


--
-- Name: users_groups_group_id_2f3517aa; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_groups_group_id_2f3517aa ON public.users_groups USING btree (group_id);


--
-- Name: users_groups_user_id_f500bee5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_groups_user_id_f500bee5 ON public.users_groups USING btree (user_id);


--
-- Name: users_is_susp_5a4b6d_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_is_susp_5a4b6d_idx ON public.users USING btree (is_suspended);


--
-- Name: users_old_id_5514b267; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_old_id_5514b267 ON public.users USING btree (old_id);


--
-- Name: users_old_id_5514b267_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_old_id_5514b267_like ON public.users USING btree (old_id varchar_pattern_ops);


--
-- Name: users_old_id_572f1c_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_old_id_572f1c_idx ON public.users USING btree (old_id);


--
-- Name: users_role_0ace22_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_role_0ace22_idx ON public.users USING btree (role);


--
-- Name: users_user_permissions_permission_id_6d08dcd2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_permissions_permission_id_6d08dcd2 ON public.users_user_permissions USING btree (permission_id);


--
-- Name: users_user_permissions_user_id_92473840; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_permissions_user_id_92473840 ON public.users_user_permissions USING btree (user_id);


--
-- Name: admin_audit_logs admin_audit_logs_actor_id_010bb8fb_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_audit_logs
    ADD CONSTRAINT admin_audit_logs_actor_id_010bb8fb_fk_users_id FOREIGN KEY (actor_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: admin_audit_logs admin_audit_logs_target_submission_id_bf8655ee_fk_submissio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_audit_logs
    ADD CONSTRAINT admin_audit_logs_target_submission_id_bf8655ee_fk_submissio FOREIGN KEY (target_submission_id) REFERENCES public.submissions(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: admin_audit_logs admin_audit_logs_target_user_id_b08e128a_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_audit_logs
    ADD CONSTRAINT admin_audit_logs_target_user_id_b08e128a_fk_users_id FOREIGN KEY (target_user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: announcements announcements_created_by_id_191f571f_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_created_by_id_191f571f_fk_users_id FOREIGN KEY (created_by_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: discord_shares discord_shares_submission_id_36a25708_fk_submissions_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.discord_shares
    ADD CONSTRAINT discord_shares_submission_id_36a25708_fk_submissions_id FOREIGN KEY (submission_id) REFERENCES public.submissions(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: discord_shares discord_shares_user_id_efd7eecf_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.discord_shares
    ADD CONSTRAINT discord_shares_user_id_efd7eecf_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jackpot_wins jackpot_wins_submission_id_78af7d0d_fk_submissions_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jackpot_wins
    ADD CONSTRAINT jackpot_wins_submission_id_78af7d0d_fk_submissions_id FOREIGN KEY (submission_id) REFERENCES public.submissions(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: jackpot_wins jackpot_wins_user_id_517e82b6_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jackpot_wins
    ADD CONSTRAINT jackpot_wins_user_id_517e82b6_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reactions reactions_submission_id_d67678ea_fk_submissions_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reactions
    ADD CONSTRAINT reactions_submission_id_d67678ea_fk_submissions_id FOREIGN KEY (submission_id) REFERENCES public.submissions(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reactions reactions_user_id_cc1df63a_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reactions
    ADD CONSTRAINT reactions_user_id_cc1df63a_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: submissions submissions_author_id_2749acb8_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.submissions
    ADD CONSTRAINT submissions_author_id_2749acb8_fk_users_id FOREIGN KEY (author_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_cards user_cards_card_id_05a26824_fk_cards_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_cards
    ADD CONSTRAINT user_cards_card_id_05a26824_fk_cards_id FOREIGN KEY (card_id) REFERENCES public.cards(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_cards user_cards_user_id_d051fc1e_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_cards
    ADD CONSTRAINT user_cards_user_id_d051fc1e_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_meta user_meta_user_id_58c29229_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_meta
    ADD CONSTRAINT user_meta_user_id_58c29229_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_registrations user_registrations_user_id_ba8a6622_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_registrations
    ADD CONSTRAINT user_registrations_user_id_ba8a6622_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_sso_links user_sso_links_user_id_3d189ecd_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_sso_links
    ADD CONSTRAINT user_sso_links_user_id_3d189ecd_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_groups users_groups_group_id_2f3517aa_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_groups
    ADD CONSTRAINT users_groups_group_id_2f3517aa_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_groups users_groups_user_id_f500bee5_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_groups
    ADD CONSTRAINT users_groups_user_id_f500bee5_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_permissions users_user_permissio_permission_id_6d08dcd2_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_permissions
    ADD CONSTRAINT users_user_permissio_permission_id_6d08dcd2_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_permissions users_user_permissions_user_id_92473840_fk_users_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_permissions
    ADD CONSTRAINT users_user_permissions_user_id_92473840_fk_users_id FOREIGN KEY (user_id) REFERENCES public.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict wB5jwH493nq9Ohj70vzWaTteTFsfOMSXiIgtqcE0bGvxszblb5hgMu7MCN84S5r

